{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete transaction" %}{% endblock %}

{% block content %}
<div class="card card-soft p-3">
  <h5 class="mb-3">{% trans "Are you sure you want to delete this transaction?" %}</h5>

  <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger">{% trans "Delete" %}</button>
    <a class="btn btn-outline-secondary" href="{% url 'finance:tx_list' %}">
      {% trans "Cancel" %}
    </a>
  </form>
</div>
{% endblock %}
